body{
    background-color: rgb(29, 80, 75);
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#content{
    background-color: yellowgreen;
    margin: 20px;
}
.contents{
    margin: 3cm;
}
.right{
    float: right;
}
.dropdown {
    float: right;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 10px;  
    padding: 14px 16px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: rgb(108, 159, 136);
}
.dropdown-content {
    display: none;
    position: absolute;
    color: rgb(250, 234, 232);
    width: fit-content;
    font-size: 0.50cm;
    line-height: 1cm;
    z-index: 99;
}
.dropdown-content li {
    background-color: rgb(108, 159, 136);
    float: none;
    color: black;
    padding: 5px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    border:  rgb(80, 78, 78) 2px solid;
}
    .dropdown-content li:hover {
    background-color: #ddd;
    color: #443b30;
}
    .dropdown:hover .dropdown-content {
    display: block;
} 
#weekdays {
    display: inline-flex;
    color: thistle;
    font-size: 0.4cm;
    text-align: center;
}
#weekdays div {
    width: 60px;
    padding: 10px;
    height: 30px;
    box-sizing: border-box;
    background-color: rgba(108, 159, 136, 0.48);
    /* background-color: rgb(10, 10, 10); */
    margin: 3px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}
#dates {
    width: 100%;
    margin: auto;
    display: inline-flex;
    flex-wrap: wrap;
}
.container {
    width: 476px;
}
#m_name {
    font-size: 1.25cm;
    color: thistle;
}
.blankd {
    width: 60px;
    padding: 10px;
    height: 55px;
    box-sizing: border-box;
    margin: 3px;
    box-shadow: 0px 0px 3px #a79075;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}
.day {
    width: 60px;
    padding: 10px;
    height: 55px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(108, 159, 136, 0.7);
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: thistle;
    transition: 0.5s;
}

.day:hover {
    background-color: rgb(233, 208, 233);
    transform: scale(1.25); 
    color: black;
    transition: 0.5s;
}

.right h2{
    text-align: center;
    color: thistle;
}
.rr{
    vertical-align: top;
    display: inline-block;
    height: 150px;
    width: 50%;
}
.d{
    display: inline-block;
    height: 150px;
    width: 40%;
    background-color: rgba(108, 159, 136, 0.7);
    border-radius: 10px;
    text-align: center;
    font-size: 3.5cm;
    color: thistle;
}
.e{
   display: inline-block;
   width: 100%;
   height: fit-content;
   background-color: rgba(108, 159, 136, 0.7);
   border-radius: 10px;
   margin-bottom: 25px;
   margin-left: 15px;
   color: thistle;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 9px;
}
#e1{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8cm;
    color: thistle;
}
#e2{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    text-align: center;
    font-size: 1cm;
    color: thistle;
}
.head{
    float: left;
    text-align: center;
    margin: 20px;
    margin-bottom: 0;
    width: 52%;
    height: fit-content;
    background-color: rgba(108, 159, 136, 0.7);
    border-radius: 15px;
    font-size: 0.7cm;
}
.events{
    float: left;
    width: fit-content;
    max-width: 52%;
    margin: 20px;
    margin-top: 25px;
    max-height: 380px;
    overflow-y:scroll;
    height: fit-content;
    background-color: rgba(108, 159, 136, 0.7);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 37px;
}
.lists{
    display: flex;
}
.cards{
    display: inline-block;
    vertical-align: top;
    /* background: radial-gradient( #2a9660, #31969b ); */
    background-color: rgba(255, 255, 255, 0.65);
    margin: 30px 10px 10px 20px;
    /* min-height: 3cm; */
    height: 4cm;
    width: 7cm;
    border-radius: 10px;
}
.cards header{
    font-weight: 500;
    font-size: 0.7cm;
    margin: 10px;
    margin-bottom: 0;
    text-align: left;
}
.cards span{
    font-size: 0.5cm;
    color: grey;
    text-align: right;
}
textarea{
    box-sizing: border-box;
    background-color: transparent;
    height: 1.5cm;
    width: 100%;
}
desc{
    max-height: 100px;
    overflow-y:scroll;
}
.c{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 4cm;
    width: 5cm;
    border-radius: 5px;
    background-color: rgba(108, 159, 136, 0.7);
    margin-right: 0.9cm;  
}
#c1{
    margin-top: 20px;
    color: thistle;
    font-size: 2.5cm;
}
#c2{
    margin-top: 20px;
    color: thistle;
    font-size: 2.5cm;
}
#c3{
    margin-top: 20px;
    color: thistle;
    font-size: 2.5cm;
}
.landing{
    position: absolute;
    top: 15%;
    background-color: rgba(107, 163, 163, 0.493);
    height: 500px;
    box-sizing: border-box;
    width: 100%;
    z-index: 20;
    animation-name: anim;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes anim{
    from {opacity: 100%;}
    to {opacity: 0%; z-index: -99;}
}
img{
    float: right;
    border-radius: 40px;
}
.cards p{
    max-height: 60px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0.2cm;
  }
   
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
::-webkit-scrollbar-thumb {
    background-color: rgba(150, 219, 199, 0.582);
    outline: 1px solid rgb(71, 80, 90);
  }
  .ml1 {
    font-weight: 200;
    font-size: 0.8cm;
    margin: 2px;
  }
  
  .ml1 .letter {
    letter-spacing: 2px;
    display: inline-block;
    line-height: 1em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    /* padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em; */
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }

#s1{
padding: 50px;
font-size: 0.7cm;
color: #443b30;
}
#s2{
    padding-left: 50px;
    font-size: 1.5cm;
}
